main {
  min-height: 80vh;
}

.brand,
.link {
  color: #fd7e14 !important;
}
.icon {
  color: #fff;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  /* text-transform: capitalize; */
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  /* text-transform: capitalize; */
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}
.register {
  font-weight: 700;
  color: #fd7e14;
  text-transform: uppercase;
}
